n8n-workflow-exemplo.json
{
  "name": "RAG Multimodal - Query Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-query",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Receber Pergunta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rag-query"
    },
    {
      "parameters": {
        "url": "https://SUA_URL_RAILWAY.railway.app/query",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"question\": $json.body.question } }}"
      },
      "id": "http-request-rag",
      "name": "Query RAG API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    answer: response.answer,\n    sources: response.sources,\n    reranked: response.reranked,\n    timestamp: new Date().toISOString(),\n    question: $('Webhook - Receber Pergunta').item.json.body.question\n  }\n};"
      },
      "id": "code-formatar",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Responder ao Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Receber Pergunta": {
      "main": [
        [
          {
            "node": "Query RAG API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query RAG API": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Responder ao Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}
